# generic stuff we dont want
.git
.github
.gitignore
.gitattributes
.env
.env.example
.env.ci
.phpunit.result.cache
.idea
.vscode
.editorconfig
.styleci.yml
auth.json
docs
data

# application stuff we dont need in a image
vendor
frankenphp
_ide_helper.php
.phpstorm.meta.php
node_modules
tests
phpunit.xml
Dockerfile
docker-compose.yml
compose.yaml
package.json
package-lock.json
vite.config.js
vite.config.ts
tailwind.config.js
postcss.config.js
webpack.mix.js
rector.php
phpstan.neon
pint.json
eslint.config.js
.prettierrc
.prettierignore
tsconfig.json
rector.php
phpstan.neon
pint.json
eslint.config.js
.prettierrc
.prettierignore
tsconfig.json
storage/app/*
storage/debugbar/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/hot
public/storage
bootstrap/cache/*
!bootstrap/cache/.gitignore
