.git
.github
.gitignore
.gitattributes
.env
.env.example
.phpunit.result.cache
.idea
.vscode
.editorconfig
.styleci.yml
node_modules
vendor
tests
phpunit.xml
README.md
Dockerfile
docker-compose.yml
package.json
package-lock.json
vite.config.js
vite.config.ts
tailwind.config.js
postcss.config.js
webpack.mix.js
storage/logs/.log
storage/framework/cache/data/
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
public/hot
